/*
$primary: #40526b
$headings: #40404c
*/

@import '_base.scss';
@import 'nav.scss';

#__layout {
  max-width: 100%;
  overflow: hidden;
}
pre {
  max-width: 100%;
  overflow: scroll;
}
.page-title {
  flex-basis: 100%;
  margin-top: 3.5em;
  margin-top: 1em;
  font-size: 2.75em;
  margin-bottom: 0.5em;
  line-height: 1.1;
  text-align: center;

  @media (min-width: 680px) {
    margin-top: 2.5rem;
  }
}

section.container.flex {
  display: flex;
}

img {
  max-width: 100%;
}
p {
  max-width: 36rem;
  // font-size: 16px;
  // margin-bottom: 1em;
  // line-height: 1.7;
  // font-family: 'Open Sans';
}
footer,
header {
  background: #40526b;
}

header {
  background: #40526b;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 60;
  box-shadow: 0 2px 5px 0 rgba(40, 31, 31, 0.56),
    0 2px 10px 0 rgba(32, 32, 32, 0.52);
}

footer {
  background: #40526b;
  padding: 3em 1.618em;
  width: 100%;
  text-align: center;
  flex: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Vollkorn', sans-serif, arial;
  // font-weight: 400;
}

main {
  position: relative;
  flex: 1;
}
.siteWrapper {
  // display: flex;
  flex-flow: row wrap;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .container {
    min-height: 65vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    // text-align: center;
    width: 100%;
    // margin-top: 80px;

    &.block {
      display: block;
    }
  }

  .content {
    padding: 2em 1em 3em;
    @media (min-width: 980px) {
      padding: 2em 0.75em 5em;
    }

    a {
      color: #009474;
      font-weight: 700;      
    }
  }
}

.page-enter-active,
.page-leave-active {
  transition: all 0.45s ease-in-out;
  transition: all 0.45s cubic-bezier(0.55, 0, 0.1, 1);
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate(10px, 0);
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.3s ease;
}
.slide-enter,
.slide-leave-active {
  transform: translateX(230px);
}

.section {

  &.flex-center {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
  }
  &-headings {
    text-align: center;
    flex-basis: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  &-heading {
    color: #40404c;
    text-align: center;
  }

  &-subheading {
    display: block;
    margin-top: -1rem;
  }

  &-seperator {
    border-bottom: 1px solid hsla(0,0%,0%,0.2);
    margin: 2rem auto 2.5rem;
    max-width: 1040px;
    height: 0;
    width: 94%;

    @media (min-width: 780px) {
      margin: 3rem auto 3.5rem;
    }

    @media (min-width: 980px) {
      margin: 4rem auto 4.5rem;
    }
  }  
}

.packages {
  display: flex;
  flex-flow: row wrap;
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}

.package {
  text-align: center;
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: initial;
  margin-bottom: initial;
  padding: .75rem .25rem;
  max-width: 300px;
  margin-left: .5rem;
  margin-right: .5rem;
  flex: 1 1 31%;
  margin-top: 1rem;
  min-width: 280px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &-heading {
    font-size: 1.5em;
    margin-bottom: 5px;
    line-height: 1.1;
  }

  &__price {
    margin-bottom: 0;
  }
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 100%;
}

.flex-center {
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  .section-heading, .section__heading, .section-subheading {
    text-align: center;
    flex-basis: 100%;
  }
}

.section-heading, .section__heading {
  @media (min-width: 980px) {
    font-size: 2rem;
  }
}

.info {
  &__list {
    list-style-type: none;
  }
  &__item {

  }
}

.content {
  .fc-list-item-title a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;    
  }
  a.fc-event {
    color: white;
    font-weight: 400;
  }
}

.fc-scroller {
  overflow-x: scroll !important;
}

