@import '@fortawesome/fontawesome-svg-core/styles.css';

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  // margin-top: 80px;
  margin-top: 132px; // For Covid
}

.grid-container {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.test-example {
  display: grid;
  transition: all .5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}